*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/***************************/

.maquina {
  /* margin: auto; */
  /* width: 40vw; */
  /* text-align: left; */
  position: absolute;
  padding-right: 12vw;
  bottom: 4vh;
  right: 0;
  /* display: inline-block; */
}

.maquina h1 {
	position: relative;
	float: left;
	background: #fff;
	color: #000;
	font-size: 2.5em;
}

.maquina h1 span {
    position:absolute;
    right:0;
    width:0;
    background: #fff;
    height: 100%;
    animation: escribir 5s steps(30) ;
}

@keyframes escribir {
    from { width: 100%

     }
    to { width:0 }
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}
/***************************/
body {
  background: #fff;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
.contenedor {
      height: 100vh;
}
.name{
  width: 100vw;
  height: 11vh;
  top: 14vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
  background: #fff;
}

.el {
  position: absolute;
      left: 0;
      top: 0;
      /* padding: 4px; */
      /* margin-left: 20px; */
      width: 7vw;
      height: 100vh;

   -webkit-transition: width 0.7s, opacity 0.6s 0.7s, z-index 0s 1.3s, -webkit-transform 0.6s 0.7s;
  transition: width 0.7s, opacity 0.6s 0.7s, z-index 0s 1.3s, -webkit-transform 0.6s 0.7s;
  transition: transform 0.6s 0.7s, width 0.7s, opacity 0.6s 0.7s, z-index 0s 1.3s;
  transition: transform 0.6s 0.7s, width 0.7s, opacity 0.6s 0.7s, z-index 0s 1.3s, -webkit-transform 0.6s 0.7s;
  will-change: transform, width, opacity;
}
.el__overflow {
  overflow: hidden;
  position: relative;
  height: 100%;
}
.el__inner {
  overflow: hidden;
  position: relative;
  height: 100%;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
} /* orientacion caida*/
.cont.s--inactive .el__inner {
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
}
.el__bg {
  position: relative;
  width: calc(100vw - 140px);
  height: 100%;
  -webkit-transition: -webkit-transform 0.6s 0.7s;
  transition: -webkit-transform 0.6s 0.7s;
  transition: transform 0.6s 0.7s;
  transition: transform 0.6s 0.7s, -webkit-transform 0.6s 0.7s;
  will-change: transform;
}
.el__bg:before {
  content: "";
  position: absolute;
  left: 0;
  top: -5%;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: center center;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
          transform: translate3d(0, 0, 0) scale(1);
}
.el:nth-child(1) {
  -webkit-transform: translate3d(0%, 0, 0);
          transform: translate3d(0%, 0, 0);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}
.cont.s--el-active .el:nth-child(1):not(.s--active) {
  -webkit-transform: scale(0.5) translate3d(0%, 0, 0);
          transform: scale(0.5) translate3d(0%, 0, 0);
  opacity: 0;
  -webkit-transition: opacity 0.95s, -webkit-transform 0.95s;
  transition: opacity 0.95s, -webkit-transform 0.95s;
  transition: transform 0.95s, opacity 0.95s;
  transition: transform 0.95s, opacity 0.95s, -webkit-transform 0.95s;
}
.el:nth-child(1) .el__inner {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.el:nth-child(1) .el__bg {
  -webkit-transform: translate3d(0%, 0, 0);
          transform: translate3d(0%, 0, 0);
}
.el:nth-child(1) .el__bg:before {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  background-image: url("https://static.pexels.com/photos/164732/pexels-photo-164732.jpeg");
  background-position: -57px 23px;
}
.el:nth-child(2) {
  -webkit-transform: translate3d(107.44681%, 0, 0);
          transform: translate3d(107.44681%, 0, 0);
  -webkit-transform-origin: 157.44681% 50%;
          transform-origin: 157.44681% 50%;
}
.cont.s--el-active .el:nth-child(2):not(.s--active) {
  -webkit-transform: scale(0.5) translate3d(107.44681%, 0, 0);
          transform: scale(0.5) translate3d(107.44681%, 0, 0);
  opacity: 0;
  -webkit-transition: opacity 0.95s, -webkit-transform 0.95s;
  transition: opacity 0.95s, -webkit-transform 0.95s;
  transition: transform 0.95s, opacity 0.95s;
  transition: transform 0.95s, opacity 0.95s, -webkit-transform 0.95s;
}
.el:nth-child(2) .el__inner {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}
.el:nth-child(2) .el__bg {
  -webkit-transform: translate3d(-13.42857%, 0, 0);
          transform: translate3d(-13.42857%, 0, 0);
}
.el:nth-child(2) .el__bg:before {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  background-image: url("https://static.pexels.com/photos/164732/pexels-photo-164732.jpeg");
      background-position: -11px 0px;
}
.el:nth-child(3) {
  -webkit-transform: translate3d(214.89362%, 0, 0);
          transform: translate3d(214.89362%, 0, 0);
  -webkit-transform-origin: 264.89362% 50%;
          transform-origin: 264.89362% 50%;
}
.cont.s--el-active .el:nth-child(3):not(.s--active) {
  -webkit-transform: scale(0.5) translate3d(214.89362%, 0, 0);
          transform: scale(0.5) translate3d(214.89362%, 0, 0);
  opacity: 0;
  -webkit-transition: opacity 0.95s, -webkit-transform 0.95s;
  transition: opacity 0.95s, -webkit-transform 0.95s;
  transition: transform 0.95s, opacity 0.95s;
  transition: transform 0.95s, opacity 0.95s, -webkit-transform 0.95s;
}
.el:nth-child(3) .el__inner {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.el:nth-child(3) .el__bg {
  -webkit-transform: translate3d(-26.85714%, 0, 0);
          transform: translate3d(-26.85714%, 0, 0);
}
.el:nth-child(3) .el__bg:before {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  background-image: url("https://static.pexels.com/photos/164732/pexels-photo-164732.jpeg");
    background-position: 43px -23px;
}
.el:nth-child(4) {
  -webkit-transform: translate3d(322.34043%, 0, 0);
          transform: translate3d(322.34043%, 0, 0);
  -webkit-transform-origin: 372.34043% 50%;
          transform-origin: 372.34043% 50%;
}
.cont.s--el-active .el:nth-child(4):not(.s--active) {
  -webkit-transform: scale(0.5) translate3d(322.34043%, 0, 0);
          transform: scale(0.5) translate3d(322.34043%, 0, 0);
  opacity: 0;
  -webkit-transition: opacity 0.95s, -webkit-transform 0.95s;
  transition: opacity 0.95s, -webkit-transform 0.95s;
  transition: transform 0.95s, opacity 0.95s;
  transition: transform 0.95s, opacity 0.95s, -webkit-transform 0.95s;
}
.el:nth-child(4) .el__inner {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
.el:nth-child(4) .el__bg {
  -webkit-transform: translate3d(-40.28571%, 0, 0);
          transform: translate3d(-40.28571%, 0, 0);
}
.el:nth-child(4) .el__bg:before {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
  background-image: url("https://static.pexels.com/photos/164732/pexels-photo-164732.jpeg");
      background-position: 113px -28px;
}
.el:nth-child(5) {
  -webkit-transform: translate3d(429.78723%, 0, 0);
          transform: translate3d(429.78723%, 0, 0);
  -webkit-transform-origin: 479.78723% 50%;
          transform-origin: 479.78723% 50%;
}
.cont.s--el-active .el:nth-child(5):not(.s--active) {
  -webkit-transform: scale(0.5) translate3d(429.78723%, 0, 0);
          transform: scale(0.5) translate3d(429.78723%, 0, 0);
  opacity: 0;
  -webkit-transition: opacity 0.95s, -webkit-transform 0.95s;
  transition: opacity 0.95s, -webkit-transform 0.95s;
  transition: transform 0.95s, opacity 0.95s;
  transition: transform 0.95s, opacity 0.95s, -webkit-transform 0.95s;
}
.el:nth-child(5) .el__inner {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.el:nth-child(5) .el__bg {
  -webkit-transform: translate3d(-53.71429%, 0, 0);
          transform: translate3d(-53.71429%, 0, 0);
}
.el:nth-child(5) .el__bg:before {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
  background-image: url("https://static.pexels.com/photos/164732/pexels-photo-164732.jpeg");
        background-position: 127px -53px;
}
.el:nth-child(6) {
  -webkit-transform: translate3d(537.23404%, 0, 0);
          transform: translate3d(537.23404%, 0, 0);
  -webkit-transform-origin: 587.23404% 50%;
          transform-origin: 587.23404% 50%;
}
.cont.s--el-active .el:nth-child(6):not(.s--active) {
  -webkit-transform: scale(0.5) translate3d(537.23404%, 0, 0);
          transform: scale(0.5) translate3d(537.23404%, 0, 0);
  opacity: 0;
  -webkit-transition: opacity 0.95s, -webkit-transform 0.95s;
  transition: opacity 0.95s, -webkit-transform 0.95s;
  transition: transform 0.95s, opacity 0.95s;
  transition: transform 0.95s, opacity 0.95s, -webkit-transform 0.95s;
}
.el:nth-child(6) .el__inner {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}
.el:nth-child(6) .el__bg {
  -webkit-transform: translate3d(-67.14286%, 0, 0);
          transform: translate3d(-67.14286%, 0, 0);
}
.el:nth-child(6) .el__bg:before {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  background-image: url("https://static.pexels.com/photos/164732/pexels-photo-164732.jpeg");
      background-position: 180px -58px;
}
.el:nth-child(7) {
  -webkit-transform: translate3d(644.68085%, 0, 0);
          transform: translate3d(644.68085%, 0, 0);
  -webkit-transform-origin: 694.68085% 50%;
          transform-origin: 694.68085% 50%;
}
.cont.s--el-active .el:nth-child(7):not(.s--active) {
  -webkit-transform: scale(0.5) translate3d(644.68085%, 0, 0);
          transform: scale(0.5) translate3d(644.68085%, 0, 0);
  opacity: 0;
  -webkit-transition: opacity 0.95s, -webkit-transform 0.95s;
  transition: opacity 0.95s, -webkit-transform 0.95s;
  transition: transform 0.95s, opacity 0.95s;
  transition: transform 0.95s, opacity 0.95s, -webkit-transform 0.95s;
}
.el:nth-child(7) .el__inner {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}
.el:nth-child(7) .el__bg {
  -webkit-transform: translate3d(-80.57143%, 0, 0);
          transform: translate3d(-80.57143%, 0, 0);
}
.el:nth-child(7) .el__bg:before {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
  background-image: url("https://static.pexels.com/photos/164732/pexels-photo-164732.jpeg");
    background-position: 223px -66px;
}
