
.maquina h1 {
	position: relative;
	float: left;
	background: #fff;
	color: #000;
	font-size: 2.5em;
}

.maquina h1 span {
    position:absolute;
    right:0;
    width:0;
    background: #fff;
    height: 100%;
    animation: escribir 5s steps(30) ;
}

@keyframes escribir {
    from { width: 100%

     }
    to { width:0 }
}
.animated {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}
/***************************/

.name{
  display: flex;
  width: 100vw;
	font-size: 0.5em;
  justify-content: center;
  position: absolute;
  align-items: center;
  z-index: 20;
  background: #fff;
}
