div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.transition {
    width: 7vw;
    height: 0;
    background-image: url("https://static.pexels.com/photos/164732/pexels-photo-164732.jpeg");
    //background-position: 10px 20px;
    background-size: cover;
    transition: height 2s;
    display: inline-block;
}

.barra {
    height: 100vh;
    display: inline-block;
}

.hola {
    height: 100vh;
}
